.academies_div{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
    
}
.academy-div{
    
    
    border-left: 2px solid white;;
    margin: 20px;
    padding: 10px;
}
.academy-h2{
    margin-bottom: 20px;
    color: #2f76c6;
}